.custom-heading {
  font-weight: 200;
}

.signin-box {
  background: linear-gradient(to bottom, rgba(216, 221, 209, 0.894), rgba(255, 255, 255, 0.87));
  color: #855ee9;
  font-size: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.signin-box .MuiFormControl-root {
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 5px;
}

#myButton {
  background-color: pink;
  color: white;
}

#myLink {
  color: rgb(0, 178, 248);
  text-decoration: none;
}
