.signup-box {
   background: linear-gradient(to bottom, rgba(216, 221, 209, 0.894), rgba(255, 255, 255, 0.87));
  color: #855ee9;
  font-size: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-heading {
  font-weight: 200;
}

